@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
    background-color: #FFFFFF;
    background-image: url(../src/assets/conference2.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 65%;
}
.elevate{
    background-color: #B7410E;
    color: #FFFFFF;
    border-radius: 10px 50px 10px 5px;
    line-height: 0px;
    padding: 0;
}
button{
    background-color: #B7410E;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: brown;
}

input{
    border: 1px solid #6D6D6D;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    outline: none;
    padding: 10px;
    margin: 10px 0;
}
.dropdown{
    background-image: url(./assets/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 260px 10px;
    cursor: pointer;
}
  *{
    scroll-behavior: smooth;
  }

@media screen and (max-width:768px) {
    .hero{
        background-size: 0%;
    }
    
    button{
        padding: 10px 5px;
    }
}

@media screen and (min-width:1024px) {
    .hero{
        height: 600px;
    }
    .playSize{
        max-width: 480px;
    }
    .stats{
        margin-top: 70px;
    }
}
@media screen and (min-width:1025px) {
    .hero{
        height: 600px;
    }
    .playSize{
        max-width: 560px;
    }
    .stats{
        margin-top: 70px;
    }
}
@media  screen and (min-width:1440px) {
    .hero{
        height: 700px;
    }
    .playSize{
        max-width: 640px;
    }
    .stats{
        margin-top: 170px;
    }
}
@media  screen and (min-width: 1700px) {
    /*.hero{
        height: 1400px;
    }*/
    .playSize{
        max-width: 1200px;
    }
}

